body {
    margin:0;
    padding:0;
    background: #f7f7f7;
    font-family: 'Noto Serif', serif;
    font-weight:700;
    color: #ffffff;
}
h1 {
    text-align: center;
}
p {
    font-size: 14px;
    font-family:'Open Serif', sans-serif;
    font-weight:300;
}
.slide {
  background: rgba(45, 45, 45, .5);
  color:#ffffff;
  width:60%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;

}
footer {
  background-color:black;
  position:fixed;
  right:0px;
  bottom:0px;
  height:50px;
  width:100%;
 }
.footer img{
  height: 75%;
  opacity: 0.3;
}
